html, body {
	margin: 0;
}
body {
	margin: 0;
	padding: 0;

	font-family: 'IBM Plex Sans' sans-serif;
	font-size: 18px;
	line-height: 35px;
	font-weight: 300;
	color: #333;
}

.wrap {
	margin-top: 100px;
	margin-bottom: 30px;
}

.header {
	margin-bottom: 30px;
}

input, select {
	width: 100%;
	padding: 10px;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	border: 1px solid #3f51b5;
	background: #3f51b5;
	color: #fff;
	font-weight: 600;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{
	background: #333;
	color: #fff;
}

a {
	color: #3f51b5;
}
a:hover {
	color: #111;
}

.text-small {
	font-size: 14px;
}

button.small {
	font-size: 14px;
	min-width: 0;
	padding: 0px 16px;
}

#coverage {
	padding: 5px 20px;
	border-radius: 4px;
	border: 1px solid #eee;
}

.hidden {
	display: none;
}

.inline-block {
	display: inline-block;
}

/* #details {
	background: #eee;
	border-radius: 4px;
	padding: 5px 20px;
} */