{{define "breadcrumb"}} {{end}} {{define "head"}} {{end}} {{define "content"}}
<form id="coverform" method="GET" action="/go/" class="jumbotron  md-form col-md-9 center-block" style="margin-top: 7.5vh">
  <h3 class="h3-responsive mb-3">Run coverage</h3>
  <div class="row">
    <div class="col-md-8">
      <input type="text" class="form-control" placeholder="e.g. github.com/user/project" id="repo" name="repo" />
    </div>
    <div class="col-md-3">
      <select class="browser-default ml-3" searchable="Search here.." name="tag" id="tag">
        <option value="golang-1.10" selected>Go 1.10</option>
        <option value="golang-1.9">Go 1.9</option>
        <option value="golang-1.8">Go 1.8</option>
      </select>
    </div>
  </div>
  <div class="row" style="margin-top: 2rem">
    <div class="col-md-7 center-block">
        <button class="btn btn-primary btn-block">Run</button>
    </div>
  </div>
</form>
{{end}}
{{define "footer"}}
<script>
  $(document).ready(() => {
    var repDom = $("#repo");
    $("#coverform").submit((e) => {
      const repo = repDom.val().trim();
      repDom.val(repo);
      if(!repo) {
        e.preventDefault();
      }
    });
  });
</script>
{{end}}