{{define "breadcrumb"}} {{end}} {{define "head"}} {{end}} {{define "footer"}} {{end}} {{define "content"}}
<form method="GET" action="/go/" class="jumbotron">
  <h1 class="display-6">Test coverage</h1>
  <div class="row md-form">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="e.g. github.com/user/project" id="repo" name="repo" />
    </div>
    <div class="col-md-3">
      <select class="browser-default" searchable="Search here.." name="tag">
        <option value="golang-1.10" selected>1.10</option>
        <option value="golang-1.9">1.9</option>
        <option value="golang-1.8">1.8</option>
      </select>
      <button class="btn btn-primary btn-sm">Run</button>
    </div>
  </div>
</form>
{{end}}