<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Cover as a service" />
		<meta name="author" content="Avelino">

		<title>{{if .Repo}}{{.Repo}} - {{end}}cover.run</title>

		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/assets/css/mdb.min.css" rel="stylesheet" />
		<link href="/assets/css/style.css" rel="stylesheet" />

		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script> {{template "head" .}}
	</head>

	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark indigo">
				<a class="navbar-brand" href="/">Cover.run</a>
			</nav>
			<ul class="breadcrumb">
				<li>
					<a href="/">cover.run</a>
					<span class="divider">/</span>
				</li>
				{{template "breadcrumb" .}}
			</ul>
		</header>
		<main class="container">{{template "content" .}}</main>
		<footer class="page-footer text-center text-md-left font-small blue pt-4 mt-4">
			{{if .repositories}}
			<div class="container-fluid text-center text-md-left">
				<div class="row">
					<div class="col-md-6 pb-3">
						<h5 class="text-uppercase">Last repositories covered</h5>
						<ul class="list-unstyled">
							{{ range $obj := .repositories}}
							<li>
								<a href="/go/{{ $obj.Repo }}?tag={{ $obj.Tag }}">
									{{ $obj.Repo }}
									<span class="badge badge-info">{{ $obj.Tag }}, {{ $obj.Cover }}</span>
								</a>
							</li>
							{{ end }}
						</ul>
					</div>
				</div>
			</div>
			{{end}}
			<div class="footer-copyright py-3 text-center">
				&copy; 2018
				<a href="https://gocover.run">Cover.run</a>
			</div>
		</footer>
	</body>

</html>