<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Go test coverage as a service" />
		<meta name="author" content="https://kamaleshwar.com">

		<title>{{if .Repo}}{{.Repo}} - {{end}}GoCover.Run</title>

		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/assets/css/mdb.min.css" rel="stylesheet" />
		<link href="/assets/css/style.css" rel="stylesheet" />

		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script> {{template "head" .}}
	</head>

	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark indigo">
				<a class="navbar-brand" href="/">GoCover.Run</a>
			</nav>
			<ul class="breadcrumb">
				<li>
					<a href="/">GoCover.run</a>
					<span class="divider">/</span>
				</li>
				{{template "breadcrumb" .}}
			</ul>
		</header>
		<main class="container" style="min-height: 65vh">{{template "content" .}}</main>
		<footer class="page-footer text-center text-md-left font-small blue pt-4 mt-4">
			{{if .repositories}}
			<div class="container-fluid text-center text-md-left">
				<div class="row">
					<div class="col-md-6 pb-3">
						<h5 class="text-uppercase">Last repositories covered</h5>
						<ul class="list-unstyled">
							{{ range $obj := .repositories}}
							<li>
								<a href="/{{ $obj.Repo }}?tag={{ $obj.Tag }}">
									{{ $obj.Repo }}
									<span class="badge badge-info">{{ $obj.Tag }}, {{ $obj.Cover }}</span>
								</a>
							</li>
							{{ end }}
						</ul>
					</div>
				</div>
			</div>
			{{end}}
			<div class="footer-copyright py-3 text-center">
				<a href="/">GoCover.run</a>
				&copy; 2018
			</div>
			{{template "footer" .}}
		</footer>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-87375749-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());
			gtag('config', 'UA-87375749-2');
		</script>
	</body>

</html>