{{define "head"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>{{end}} {{define "footer"}}{{end}} {{define "breadcrumb"}}
<li class="active">
  <a href="https://{{.Repo}}" target="_blank">{{.Repo}}</a>
</li>
{{end}} {{define "content"}}
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>
        Status {{if .Loading}}
        <span id="loading" style="display: inline-block; width: 32px; height: 32px">
          <img src="/assets/images/ripple.svg" alt="loading" height="100%" width="100%" title="loading" />
        </span>
        {{end}}
      </h1>
      <p>
        <a href="/{{.Repo}}?tag={{.Tag}}">
          <img id="badge" src="/{{.Repo}}.svg?tag={{.Tag}}&style=flat" alt="{{.Cover}}" />
        </a>
        <a href="https://goreportcard.com/report/{{.Repo}}" target="_blank">
          <img src="https://goreportcard.com/badge/{{.Repo}}">
        </a>
        <a href="https://godoc.org/{{.Repo}}" target="_blank">
          <img src="https://godoc.org/{{.Repo}}?status.svg">
        </a>
      </p>

      <hr class="my-4" />

      <h4>Markdown</h4>
      <code id="badgemd">![GoCover.run](https://gocover.run/{{.Repo}}.svg?tag={{.Tag}})</code>
      <p style="display: none" id="copybadgecontainer">
        <button class="btn btn-primary btn-sm" id="copybadge" data-clipboard-target="#badgemd">Copy</button>
      </p>

      <div id="details" style="display:{{if .Cover}}{{else}}none{{end}};">
        <hr class="my-4" />
        <h4>Details</h4>
        <samp>{{.Cover | html}}</samp>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function clipboard() {
    if (!window.ClipboardJS) {
      return;
    }

    $('#copybadgecontainer').attr('style', '');
    const clipboard = new ClipboardJS('#copybadge');
    clipboard.on('success', function (e) {
      e.clearSelection();
    });
  }

  function update(data) {
    $("#details > samp").text(data.Cover);
    const imgURL = "/{{.Repo}}.svg?tag={{.Tag}}&style=flat&d=" + (new Date()).getTime();
    $("#badge").attr("src", imgURL);
  }
  function pollStatus() {
    $.getJSON({
      url: "/{{.Repo}}.json",
      success: (body) => {
        const msg = body.Cover || null;
        if (msg && msg.indexOf("queued") > -1 || msg.indexOf("progress") > -1) {
          window.setTimeout(() => { pollStatus(); }, 5000);
          return
        }
        $("#details").attr("style", "");
        $("#loading").remove();
        update(body);
      },
      all: (body) => {
        console.warn(body);
      }
    });
  }

  $(document).ready(() => {
    clipboard();

    var loading = {{ if .Loading }}true{{ else }} false{{ end }};
    if(loading) {
      pollStatus();
    }
  });
</script> {{end}}